html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 1590px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a80533;
}

nav {
  width: 100%;
  background-color: #fdb908;
  min-height: 50px;
  align-content: center;
}

.footer {
  justify-content: center;
  width: 100%;
  background-color: #fdb908;
  min-height: 50px;
  align-content: center;
}
.footer > .ul {
  justify-content: center;
  padding-left: initial;
}
a {
  text-decoration: none;
}
.secondBtn {
  margin-top: 6%;
  background-color: #0a99ff;
  color: #ffffff;
  padding: 3%;
  border-radius: 10px;
}
.link:hover {
  cursor: pointer !important;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.secondBtn:hover {
  color: #000000;
}
.leftHeader {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-right: 25%;
  text-align: right;
  color: #ffffff;
}
.h1 {
  margin-bottom: 0;
}
.subtext {
  padding-top: 0;
  margin-top: 0;
  position: relative;
  left: 2%;
}

.search {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 3%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10%;
}

.li > a {
  color: #000000;
}

.hero {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5%;
  padding: 3% 5% 6% 5%;
  margin-bottom: 3%;
}
#divider {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: #b3b3b3;
  height: 1px;
  margin-bottom: 3%;
}
.leftFlex {
  width: 50%;
  text-align: right;
}
.h2 {
  font-size: 3rem;
  color: #a80533;
  margin-bottom: 0;
}

.h3 {
  font-size: 2rem;
  margin-top: 3%;
  margin-bottom: 0;
}
.tableContainer {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}
#table {
  width: 50%;
  margin-left: 10%;
  margin-right: 3%;
  border: solid 1px #000000;
  background-color: #a80533;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5),
    5px 0 5px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

tr {
  border: solid 1px #000000;
  padding: 3%;
  text-align: center;
  background-color: #ffffff;
}
td,
th {
  border: solid 1px #000000;
  text-align: center;
  background-color: #ffffff;
  width: 20%;
}
th {
  color: #a80533;
}
@media screen and (max-width: 720px) {
  header {
    flex-direction: column;
  }
  .leftHeader {
    width: 100%;
    padding-right: unset;
    text-align: center;
  }
  .subtext {
    left: unset;
  }
  .search {
    width: 100%;
    justify-content: center;
    padding-bottom: 3%;
  }
  nav {
    text-align: center;
  }
}
